.login-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
}

.btn {
    height: 45px;
    font-size: 16px;
}

body {
    background-color: #ffffff;
}

h2 {
    font-weight: 700;
    color: #333;
}

p {
    font-size: 14px;
    color: #777;
}

input::placeholder {
    color: #aaa;
    font-size: 14px;
}

